body {
    text-align: center;
    font-family: "Comic Sans MS","Lucida Console","Verdana";
}
table {
    margin-left: auto;
    margin-right: auto;
}

table td {
    color: #0400f0;
    font-size: 24pt;
}

input[type=text] {
    border-color: #0400f0;
    color: #ffc124;
    font-size: 24pt;
    font-family: "Comic Sans MS","Lucida Console","Verdana";
}

button {
    background-color: #0400f0;
    color: #ffc124;
    font-size: 24pt;
    font-family: "Comic Sans MS","Lucida Console","Verdana";
}